<div id="about-me" class="-section about-me-section -dark-bg -padding-l">
    <div class="-header -text-center">
        <div class="-lightbox -radius">
            <img src="images/profile-1.jpg" alt="">
        </div>
        <p class="-upcase -light">About me</p>
    </div>
    <div class="-divider"></div>
    <div class="-content">
        <p class="-text-center -about-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
    </div>
</div>