<div id="category-view" class="-category-view -vbox -dark-bg">
    <div class="-dark-bg -overlay -vbox">
        <div class="-vbox-content">
        </div>
    </div>
    <div class="-table -v-middle">
        <div class="-section -category-heading -vbox" data-image="images/header-image-1.jpg">
            <div class="-vbox-content -text-center -dark-overlay-5">
                <a class="-close-view -margin-r-xl left">
                    <img class="-v-middle" src="lib/icons/close.svg" alt="Arrow Right">
                </a>
                <h3 class="-thin">Sample Category</h3>
            </div>
        </div>
        <div class="row">
            <div class="col l3 m6 s12">
                <a href="#" class="-lightbox -text-center">
                    <img src="" alt="">
                </a>
            </div>
        </div>
    </div>
</div>