<div id="contact-me" class="-section contact-me-section" data-image="images/header-image-2.jpg">
    <div class="-dark-overlay-7 -padding-xl">
        <div class="-header -text-center">
            <p class="-upcase -light">Contact me</p>
        </div>
        <div class="-content">
            <div class="row">
                <form action="">
                    <div class="col s12 m6 offset-m3">
                        <div class="input-field col s12">
                            <input type="text" id="name" name="name">
                            <label for="name" class="-regular">Name</label>
                        </div>
                    </div>
                    <div class="col s12 m6 offset-m3">
                        <div class="input-field col s12">
                            <input type="email" id="email" name="email">
                            <label for="email" class="-regular">Email</label>
                        </div>
                    </div>
                    <div class="col s12 m6 offset-m3">
                        <div class="input-field col s12">
                            <textarea name="message" id="message" length="255" class="materialize-textarea"></textarea>
                            <label for="email" class="-regular">Message</label>
                        </div>
                    </div>
                    <div class="col s12 m6 offset-m3">
                        <input type="submit" class="-button -white -white-bg -line -bold" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>