<div id="my-clients" class="-section my-clients-section" data-image="images/header-image-3.jpg">
    <div class="-dark-overlay-6 -padding-xl">
        <div class="-header -text-center">
            <p class="-upcase -light">What my clients say about me</p>
        </div>
        <div class="-content -table">
            <div class="-slider">
                <ul class="-slides -table-row -transparent -text-center -medium">
                    <li id="slide-1">
                        <div class="-slide">
                            <p class="-about-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                            <div class="-margin-t-s"></div>
                            <div class="-table -margin-auto -media">
                                <div class="-lightbox -table-cell -radius -media-image">
                                    <img src="images/profile-1.jpg" alt="">
                                </div>
                                <span class="-table-cell -v-middle -media-name">John Doe</span>
                            </div>
                        </div>
                    </li>
                    <li id="slide-2">
                        <div class="-slide">
                            <p class="-about-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis partunatibus et magnis dis pnatibus et magnis dis pnatibus et magnis dis prient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                            <div class="-margin-t-s"></div>
                            <div class="-table -margin-auto -media">
                                <div class="-lightbox -table-cell -radius -media-image">
                                    <img src="images/profile-2.png" alt="">
                                </div>
                                <span class="-table-cell -v-middle -media-name">Roberta Williams</span>
                            </div>
                        </div>
                    </li>
                    <li id="slide-3">
                        <div class="-slide">
                            <p class="-about-text">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                            <div class="-margin-t-s"></div>
                            <div class="-table -margin-auto -media">
                                <div class="-lightbox -table-cell -radius -media-image">
                                    <img src="images/profile-1.jpg" alt="">
                                </div>
                                <span class="-table-cell -v-middle -media-name">John Doe</span>
                            </div>
                        </div>
                    </li>
                    <li id="slide-4">
                        <div class="-slide">
                            <p class="-about-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                            <div class="-margin-t-s"></div>
                            <div class="-table -margin-auto -media">
                                <div class="-lightbox -table-cell -radius -media-image">
                                    <img src="images/portfolio-image-1.jpg" alt="">
                                </div>
                                <span class="-table-cell -v-middle -media-name">Roberta Williams</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="-table-cell -padding-t-m"></div>
            </div>
        </div>
    </div>
</div>