<div id="portfolio" class="-section portfolio-section">
    <div class="-header -dark-bg -padding-l -text-center">
        <p class="-upcase -light">Portfolio</p>
    </div>

    <div class="-content">
        <div class="row">
            <div class="col l3 m6 s12">
                <a class="-lightbox -text-center">
                    <div class="-caption">
                        <div class="-caption-content">
                            <p class="-text-center">Some caption</p>
                        </div>
                    </div>
                    <img src="images/portfolio-image-1.jpg" alt="">
                </a>
            </div>
            <div class="col l3 m6 s12">
                <a class="-lightbox -text-center">
                    <div class="-caption">
                        <div class="-caption-content">
                            <p class="-text-center">Some caption</p>
                        </div>
                    </div>
                    <img src="images/portfolio-image-2.jpg" alt="">
                </a>
            </div>
            <div class="col l3 m6 s12">
                <a class="-lightbox -text-center">
                    <div class="-caption">
                        <div class="-caption-content">
                            <p class="-text-center">Some caption</p>
                        </div>
                    </div>
                    <img src="images/portfolio-image-3.jpg" alt="">
                </a>
            </div>
            <div class="col l3 m6 s12">
                <a class="-lightbox -text-center">
                    <div class="-caption">
                        <div class="-caption-content">
                            <p class="-text-center">Some caption</p>
                        </div>
                    </div>
                    <img src="images/portfolio-image-4.jpg" alt="">
                </a>
            </div>
            <div class="col l3 m6 s12">
                <a class="-lightbox -text-center">
                    <div class="-caption">
                        <div class="-caption-content">
                            <p class="-text-center">Some caption</p>
                        </div>
                    </div>
                    <img src="images/portfolio-image-3.jpg" alt="">
                </a>
            </div>
            <div class="col l3 m6 s12">
                <a class="-lightbox -text-center">
                    <div class="-caption">
                        <div class="-caption-content">
                            <p class="-text-center">Some caption</p>
                        </div>
                    </div>
                    <img src="images/portfolio-image-2.jpg" alt="">
                </a>
            </div>
            <div class="col l3 m6 s12">
                <a class="-lightbox -text-center">
                    <div class="-caption">
                        <div class="-caption-content">
                            <p class="-text-center">Some caption</p>
                        </div>
                    </div>
                    <img src="images/portfolio-image-1.jpg" alt="">
                </a>
            </div>
            <div class="col l3 m6 s12">
                <a class="-lightbox -text-center">
                    <div class="-caption">
                        <div class="-caption-content">
                            <p class="-text-center">Some caption</p>
                        </div>
                    </div>
                    <img src="images/portfolio-image-2.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>