<div id="services" class="-section services-section -dark-bg -padding-xl">
    <div class="-header -text-center">
        <p class="-upcase -light">What I can do for you</p>
    </div>
    <div class="-margin-t-m"></div>
    <div class="-content">
        <div class="row">
            <div class="col s12 m6 l3 -service">
                <div class="-button -white -circle -line -table -margin-auto">
                    <i class="fa fa-compress -v-middle -margin-auto -table-cell"></i>
                </div>
                <div class="-margin-t-s"></div>
                <p class="-text-center -about-text">
                    <span class="-regular">Responsive Design</span>
                    <br>
                    <span class="-thin">Cras dapibus. Vivamus elem nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, port.</span>
                </p>
            </div>
            <div class="col s12 m6 l3 -service">
                <div class="-button -white -circle -line -table -margin-auto">
                    <i class="fa fa-tint -v-middle -margin-auto -table-cell"></i>
                </div>
                <div class="-margin-t-s"></div>
                <p class="-text-center -about-text">
                    <span class="-regular">Clean Design</span>
                    <br>
                    <span class="-thin">Cras dapibus. Vivamus elem nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, port.</span>
                </p>
            </div>
            <div class="col s12 m6 l3 -service">
                <div class="-button -white -circle -line -table -margin-auto">
                    <i class="fa fa-paint-brush -v-middle -margin-auto -table-cell"></i>
                </div>
                <div class="-margin-t-s"></div>
                <p class="-text-center -about-text">
                    <span class="-regular">Beautiful Design</span>
                    <br>
                    <span class="-thin">Cras dapibus. Vivamus elem nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, port.</span>
                </p>
            </div>
            <div class="col s12 m6 l3 -service">
                <div class="-button -white -circle -line -table -margin-auto">
                    <i class="fa fa-cog -v-middle -margin-auto -table-cell"></i>
                </div>
                <div class="-margin-t-s"></div>
                <p class="-text-center -about-text">
                    <span class="-regular">Create Awesome Features</span>
                    <br>
                    <span class="-thin">Cras dapibus. Vivamus elem nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, port.</span>
                </p>
            </div>
        </div>
    </div>
</div>